<div
    class="modal"
    id="modalAdicionarImobiliaria">

    <div class="modal-conteudo">

        <div class="modal-header">

            <h2>Adicionar categoria</h2>

            <button
                type="button"
                id="fecharModal">

                ×

            </button>

        </div>


        <div id="listaTiposImobiliaria">

            <p>Carregando...</p>

        </div>


        <!-- BOTÃO PARA CRIAR NOVO TIPO -->

        <button
            type="button"
            id="btnNovoTipo"
            class="btn-novo-tipo">

            + Criar novo tipo

        </button>

    </div>

</div>