<div
    class="modal"
    id="modalSuporte">

    <div class="modal-conteudo">

        <div class="modal-header">

            <h2>
                Suporte
            </h2>

            <button
                type="button"
                id="fecharModalSuporte">

                ×

            </button>

        </div>


        <div class="campo">

            <label for="descricaoSuporte">

                O que está acontecendo?

            </label>

            <textarea
                id="descricaoSuporte"
                placeholder="Descreva o problema que está acontecendo..."
                rows="7"
                maxlength="2000">
            </textarea>

            <span
                id="erroSuporte"
                class="erro">
            </span>

        </div>


        <button
            type="button"
            id="enviarSuporte"
            class="btn-enviar-suporte">

            Enviar solicitação

        </button>

    </div>

</div>